/*
    Generic
*/
body {
    background: #fff;
}
body ul.header.links, a.action.skip.contentarea {
    display: none!important;
}
input:not([disabled]):focus {
    box-shadow: none;
}
.page-wrapper {
    overflow: hidden;
}
span.action.nav-toggle {
    display: none;
}
body .action.primary {
    background: #e8662a;
    border: 0;
    padding: 12px 30px;
}
body .action.primary:hover {
    background: #e8662a;
    border: 0px;
    box-shadow: 1px 1px 3px inset #ad3f0d;
}
/*
    Header
*/
ul.topnav {
    float: left;
    list-style: none;
    margin: 0 240px 0 0;
    padding: 0;
}
ul.topnav li {
    display: inline-block;
    margin: 0;
}
ul.topnav li a {
    color: #fff;
    font-size: 12px;
    padding: 0 2px;
}
body .page-header .panel.wrapper {
    background-color: #e8662a;
}
body .nav-sections {
    margin-bottom: 0;
}
body .page-header .panel.header {
    position: relative;
}
body .block-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 285px;
}
input#search {
    height: 40px;
    border: 0!important;
    color: #fff;
    outline: none;
    background: #ad3f0d;
}
input#search::placeholder {
    color: #fff;
    opacity: 0.7;
}
body .block-search .action.search:before {
    color: #fff;
    margin-top: 4px;
}
body.page-product-downloadable .product-add-form {
    clear: none;
}
/*
    Breadcrumbs
*/
body .breadcrumbs {
    width: 1280px;
    margin: 15px auto;
}
/*
    Menu
*/
body nav.navigation {
    background: transparent;
    float: right;
    width: auto;
    display: block;
    top: -5px;
    font-weight: 300;
}
body nav.navigation li.level0 {
    margin: 0 10px;
}
/*
    Slideshow
*/
.slide > .container {
    position: relative;
    height: 100%;
    padding: 0 20px;
}
.slick-track .container .content {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0 20px;
}
.slideshow h2.title {
    color: #fff;
}
section#slick-slide01 {
    background-position: 50% 100%;
}
/*
    Main
*/
main#maincontent {
    padding: 40px 20px;
}
body .column.main {
    height: auto;
    min-height: 0;
}
body .page-wrapper .column.main {
    padding-bottom: 0;
}
.cms-index-index .page-main .page-title-wrapper h1.page-title {
    text-align: center;
    display: block;
}
body .column.main p {
    font-size: 12px;
}
.cms-index-index .column.main p {
    text-align: center;
}
body .description p, body .description li {
    font-size: 13px;
}
body .description ul {
    padding-left: 0;
    list-style-position: inside;
}
body .description ul > li {
    margin-bottom: 5px;
}
/*
    Footer
*/
body .page-footer {
    background: #e8662a;
    padding: 25px 0;
}
body .footer.content .links>li {
    background: transparent;
    border: 0;
}
footer .footer.content {
    position: relative;
}
footer.page-footer .footer .links a,
footer.page-footer .footer .links strong {
    color: #fff;
}
div#footer-logo {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -29px;
}
#footer-logo img {
    filter: brightness(0) invert(1);
}
/*
    Copyright
*/
body .copyright {
    /*background: #e8662a;*/
    background: #ad3f0d;
}
.copyright .container {
    width: 1280px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 10px;
}
/*
    Products
*/
img.product-image-photo {
    filter: grayscale(100%);
}
@media (max-width: 767px) {
    body .page-header {
        margin-bottom: 0px;
    }
    body nav.navigation {
        display: none;
    }
    .panel.header {
        display: none;
    }
    strong.logo, a.logo {
        margin: 4px 0 13px 4px;
    }
    section.slide {
        height: 275px;
    }
    body .slick-dots {
        display: none !important;
    }
    main#maincontent {
        padding: 30px 20px;
    }
    .page-footer {
        margin-top: 0;
        padding: 25px 0 25px 0;
    }
    .footer.content {
        padding-top: 0;
        border: none;
    }
    body .footer.content .links > li {
        margin: 0;
        font-size: 12px;
    }
    .footer.content .links > li > a {
        padding: 7px 0;
    }
}
