<ul class="topnav">
    <li>
        <a href="http://modgento.local/customer/account/login/">Sign In</a>
    </li>
    <li>|</li>
    <li>
        <a href="http://modgento.local/customer/account/create/">Account</a>
    </li>
    <li>|</li>
    <li>
        <a href="http://modgento.local/contact/">Contact</a>
    </li>
</ul>
